EXPO_PUBLIC_SUPABASE_URL=https://vxcuczmllzrjzthsdhjk.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ4Y3Vjem1sbHpyanp0aHNkaGprIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1MDQ5OTgsImV4cCI6MjA4ODA4MDk5OH0.UbqB9XSVR4DS70d_iUWz4YhmIAfjJd1B_oZFpowkPhA

